{% extends 'layouts/base.html' %}
    
{% load static %}

{% block content %}

<h1>{{title}}</h1>



<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est minima nulla fugit eos ducimus laboriosam cumque mollitia at vero quae, rem saepe dignissimos illo fugiat debitis nostrum. Architecto, deleniti alias?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid tenetur aspernatur, rem exercitationem, veniam aperiam magnam esse, enim sint quas voluptatem aut adipisci fugiat quibusdam et vel. Dolores saepe sint optio expedita. Sunt est quae ut quia cupiditate, tempore fuga architecto sequi, id, reprehenderit doloribus iste eveniet facere dolorum nesciunt neque omnis similique quisquam ratione officia provident? Quaerat, autem quis quas facere ipsam maiores ad quidem distinctio obcaecati sint culpa aperiam id? Adipisci doloremque qui corporis eaque? Officiis aliquam repudiandae ad cumque. Vel aut facere, mollitia corrupti repellendus dolores deleniti nobis modi minima ad fugit tempore error quidem, nesciunt aperiam.</p>

<!-- <img src="{% static 'django.png' %}" alt="django" title="django">--> 
{% endblock %}    
